.myBtn {
    background-color: rgba(184, 20, 20, 0);
    border-left-color: rgba(36, 140, 31, 0.47);
    border-right-color: rgba(36, 140, 31, 0.47);
    border-top-color: rgba(194, 54, 37, 0.47);
    border-bottom-color: rgba(36, 140, 31, 0.47);
    -unity-background-image-tint-color: rgb(156, 43, 43);
}

.unity-button {
}
